@import "tailwindcss";
*{
  box-sizing: border-box;
  color: #fff;
}
html,body{
  background-color: #111;
  height:100%;
  width:100%;
}
.taskList::-webkit-scrollbar{
  display: none;
}
button:hover{
  cursor: pointer;
}
